---
layout: main
---


<section class="exercises-overview">
<h1>Dokumenter</h1>

<ul>
  <li><a href="{{site.baseurl}}/weekly-plans">Ugentlige planer</a></li>
  <li><a href="{{site.baseurl}}/exercises">Opgaver</a></li>
  <li><a href="{{site.baseurl}}/other-docs">Studieplan og andre dokumenter</a></li>
  <li><a href="{{site.baseurl}}/pdf">Ugentlige planer og opgaver som PDF</a></li>
  <li><a href="{{site.baseurl}}/tags">Tags</a></li>
  <li><a href="{{site.baseurl}}/itsxml">ITSL</a></li>
</ul>

</section>
