---
layout: main
title: Studieplan og andre dokumenter
permalink: /other-docs/
---

<section class="docs">
<h1>Studieplan og andre dokumenter</h1>

<table>
  <thead>
    <tr>
      <th style="text-align: center">Titel</th>
      <th style="text-align: center">Indhold</th>
      <th style="text-align: left">Forfatter</th>
    </tr>
  </thead>
{% for post in site.other-docs %}
  <tbody>
    <tr>
      <td style="text-align: center"><a href="{{ post.filename  }}.html">{{ post.title }}</a></td>
      <td style="text-align: center">{{ post.subtitle }}</td>
      <td style="text-align: left">{{ post.main_author }}</td>
    </tr>
  </tbody>
{% endfor %}

</table>

</section>
